* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
  }
  
  :root {
    --main-color: #f2a32b;
    --light-orange: #fdc631;
    --white-alfa-40: rgba(255, 255, 255, 0.40);
    --white-alfa-25: rgba(255, 255, 255, 0.25); /* Corrected typo: "Regba" to "rgba" */
    --backdrop-filter: blur(5px);
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  button,
  input {
     border: none;
}
.btn{
    display: inline-block;
    padding: .5rem 3rem;
    margin: 1rem;
    background-color: var(----main-color);
    color: #e27f0e;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 100;
    font-size: 1.3rem;
    text-transform: capitalize;
}
.btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    background-color: #000;
    left: 0;
    top: 0;
    transition: .5s;
    z-index: -10; /* Changed z-index to -10 */
}
  
.btn:hover::before {
    height: 100%;
}
.empty {
    border-radius: .5rem;
    background-color: var(--white-alfa-25);
    border: 2px solid var(--white-alfa-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    text-align: center;
    line-height: 2; /* Corrected typo: "Line-height" to "line-height" */
    color: var(--main-color); /* Corrected typo and added missing hyphen: "main color" to "main-color" */
    margin: 1rem;
}
  
.empty p {
    font-size: 26px;
    margin-block: 2rem;
}
  
.line2 {
    background-image: url('../image/3.png');
    width: 100%;
    height: 100px;
    margin-top: -2.8rem;
}
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
    justify-content: center;
}
  
.box-container .box {
    margin: 1rem;
    border-radius: .5rem;
}
  
.heading {
    text-align: center;
    line-height: 1.7; /* Corrected: list-style to line-height */
}
  
.heading h1 {
    font-size: 2rem;
    text-transform: capitalize;
}
  
.heading span {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 18px;
}
.heading img {
    margin-top: .5rem;
    width: 150px !important;
}
  
.flex-btn {
    display: flex;
    justify-content: space-between;
}
  
.flex-btn .btn {
    margin: .5rem;
}
  
.banner {
    margin-top: 0rem;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    animation: banner 4s infinite alternate;
}
@keyframes banner {
    0% {
      background-image: url('../image/banner0.jpg');
    }
    100% {
      background-image: url('../image/banner1.jpg');
    }
}
  
.banner .detail {
    padding-left: 4%;
    line-height: 1.5;
}
  
.banner .detail p {
    font-size: 16px;
    margin-block: 1rem;
}
  
.banner .detail span {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 1.1rem;

}
.banner .detail a {
    color: #000;
}
  
  .banner .detail span i {
    margin: 0 1rem;
}
  
  .banner .detail h1 {
    font-size: 3rem;
    color: #fff;
    text-transform: capitalize;
}
  
/* ---------- Custom Scrollbar ---------- */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    height: 50px;
    background-color: var(--light-orange);
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
    height: 50px;
    margin: 10px 30px;
}

/* ---------- Header Section ---------- */
.header {
    padding: .5rem 4%;
    background-color: #dfcccc;
    box-shadow: var(--box-shadow);
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

.header .flex {
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .search-form {
    position: absolute;
    top: 100%;
    right: 0;
    width: 30rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fcf3f3;
    border-bottom: 1px solid #f1eeee;
    background-color: #f5eded;
    clip-path: polygon(0 0, 100% 0, 0 0, 0 0);
    transition: .5s linear;
}

.header .flex .search-form.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .flex .search-form button {
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
    background-color: transparent;
}

.header .flex .icons {
    display: flex;
}

.header .flex .icons div,
.header .flex .icons a i {
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
    margin-left: .5rem;
}

.header .flex sup {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: #f1efef;
    line-height: 20px;
    text-align: center;
}

#menu-btn {
    display: none;
}

.header .flex .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #fff;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    width: 30rem;
    transform: scale(0);
    transform-origin: top right;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    transition: transform .4s linear;
}

.header .flex .profile.active {
    transform: scale(1);
}

.header .flex .profile img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
    padding: .6rem;
    background-color: var(--main-color);
}

.header .flex .profile h3 {
    font-size: 2rem;
}

.header .flex .navbar {
    display: flex;
    margin: .5rem 0;
}

.header .flex .navbar a {
    font-size: 1.3rem;
    margin: 0 .5rem;
    text-transform: capitalize;
    color: var(--main-color);
}

.header .flex .navbar a:hover {
    color: var(--light-orange);
}
/*--------------footer--section-------------*/
:root {
    --main-color: #e9640c;
    --white-alfa-25: rgba(255, 255, 255, 0.25);
    --white-alfa-40: rgba(255, 255, 255, 0.4);
    --backdrop-filter: blur(5px);
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.newsletter {
    width: 100%;
    background-image: url('../image/newsletter.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5%;
}

.newsletter .box-detail {
    text-align: center;
}

.newsletter .box-detail h1 {
    text-transform: capitalize;
}

.newsletter .box-detail p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin: 1rem 0;
}

.newsletter .box-detail input {
    width: 40rem;
    padding: 1.2rem;
    border: none;
}

.newsletter .box-detail input:focus {
    outline: 2px solid var(--main-color);
}

.newsletter .box-detail .icons i,
footer .content .box .icons i {
    background-color: var(--white-alfa-25);
    border: 2px solid var(--white-alfa-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1rem;
}

.newsletter .box-detail button {
    border: none;
    padding: 0.9rem 3rem;
}

.newsletter .box-detail button:focus {
    outline: 2px solid var(--main-color);
}

.client {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    justify-content: center;
    padding: 4% 0;
    margin: 0 auto;
}

.client .img-box {
    text-align: center;
    cursor: pointer;
}

footer {
    background-image: url('../image/footer.jpg');
    background-size: cover;
    padding: 259px 0 0;
    width: 100%;
}

footer img {
    width: 130px;
}

footer .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    justify-content: center;
}

footer .content .box {
    margin: 1rem;
    line-height: 1.7rem;
    color: #fff;
}

footer .content .box h3 {
    text-transform: capitalize;
    margin-block: 0.5rem;
    color: #fff;
}

footer .content .box a {
    font-size: 16px;
    display: block;
    color: #fff;
    text-transform: capitalize;
}

footer .content .box a:hover {
    color: var(--main-color);
}

footer .content .box i {
    margin-right: 0.5rem;
}

footer .content .box p {
    line-height: 1.5;
}

footer .content .box .icons {
    margin-top: 1rem;
}

footer .content .box .icons i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0.2rem;
    color: var(--main-color);
}

footer .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #fff;
    line-height: 2;
    color: #fff;
}

footer .bottom a {
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
}
/*----------home slider----------*/
.container-fluid {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-fluid .slider-item {
    position: relative;
    overflow: hidden;
}

.slider-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Prevent image distortion */
}

.slider-caption {
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 3vw; /* Responsive font size */
    font-weight: 500;
    font-style: italic;
    color: #000; /* Ensure text contrast */
}

.slider-caption p {
    font-size: 1.2vw;
    margin-bottom: 2rem;
    padding: 10px 10px 10px 0;
}

.slider-caption .btn {
    background-color: var(--pink-color);
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0%);
    transition: all 0.3s ease; /* Smooth hover transition */
}

.slider-caption .btn:hover {
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.6); /* Hover effect */
    background-color: #ff5f8b;
}

.next,
.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--pink-color);
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.4);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease;
}

.next {
    left: 1rem;
}

.prev {
    right: 1rem;
}

.next:hover,
.prev:hover {
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.6);
    background-color: #ff5f8b;
}
.services {
    padding: 6% 3%;
}
  
.services .box-container .box {
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5;
}
  
.services .box-container .box .detail {
    place-content: 2rem; /* This property is not valid for flex items */
}
  
.services .box-container .box h4 {
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.services .box-container .box span{
    font-size: 1.1rem;
    text-transform: capitalize;
}
.sub-banner {
    width: 100%;
}
  
.sub-banner img {
    width: 100%;
}
  
.frame-container {
    padding: 4% 0;
    overflow-x: hidden;
}
  
.frame-container .box-container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.frame-container .box-container .box {
    display: flex;
    flex: 1 1 40rem;
    width: 100%;
    gap: 1rem;
}
  
.frame-container .box-detail,
.frame-container .box-detail div {
    position: relative;
}
  
.frame-container .box-detail .img {
    height: 100%;
    width: 100%;
    margin-top: 0;
}
  
.frame-container .box .img-detail {
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    color: #fff;
}
.frame-container .box .detail {
    position: absolute;
    left: 5%;
    top: 30%;
    color: #fff;
    text-align: center;
}
  
.frame-container .box div img {
    vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 100%;
    margin: .5rem;
}
  
.frame-container .box div h1 {
    margin-bottom: 2rem;
}
  
.frame-container .frame {
    flex: 1 1 40rem;
    width: 100%;
    height: 96%;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    animation: image1 5s infinite alternate;
    position: relative;
}
@keyframes image1 {
    0% {
      background-image: url('../image/slider.jpg');
}
    50% {
      background-image: url('../image/slider0.jpg');
}
    100% {
      background-image: url('../image/slider1.jpg');
}

}
.frame-container .frame .detail {
    position: absolute;
    left: 10%;
    top: 30%;
}
  
.frame-container .frame .detail span,
.img-detail span {
    text-transform: uppercase;
    font-size: 1.2rem;
}
  
.frame-container .frame .detail h2 {
    font-size: 2rem;
    color: var(--main-color);
    font-style: italic;
    margin: .5rem 0;
}
  
.frame-container h1 {
    text-transform: capitalize;
}
.about-us {
    padding: 5% 0;
    background-image: url('../image/men.jpg');
}
  
.about-us .box {
    padding: 1rem;
    text-align: center;
}
  
.about-us .box h1 {
    margin-bottom: 1rem;
}
  
.about-us .box span {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--main-color);
    line-height: 2;
}
  
.about-us .box p {
    line-height: 1.7;
    color: #666;
    margin: 2rem 0;
    font-size: 1.1rem;
}
.about-us .box .btn{
    margin: 1rem;
}
.about-us .box span {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--main-color);
    line-height: 2;
}
  
.about-us .box p {
    line-height: 1.7;
    color: #666;
    margin: 2rem 0;
    font-size: 1.1rem;
}
  
.about-us .box .btn {
    margin: 1rem;
}
  
.menu-banner {
    width: 100%;
}
  
.sub-banner .box-container {
    padding: 1rem;
    gap: 1rem;
}
.categories {
    padding: 4% 8%;
}
  
.categories .box-container {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}
  
.categories .box-container .box {
    margin: 1rem;
    cursor: pointer;
}
  
.categories .box-container .box img {
    width: 90%;
}
.frame-container-2 {
    padding: 4% 0;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
  
.frame-container-2 .frame {
    flex: 1 1 40rem;
    width: 100%;
    height: 70vh;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    animation: image 5s infinite alternate;
    position: relative;
}
@keyframes image {
    0% {
      background-image: url('../image/lookbook1.jpg');
}
    50% {
      background-image: url('../image/lookbook2.jpg');
}
    100% {
      background-image: url('../image/lookbook3.jpg');
}

}
.frame-container-2 .frame .detail {
    position: absolute;
    right: 10%;
    top: 30%;
}
  
.frame-container-2 .frame .detail span,
.img-detail span {
    text-transform: uppercase;
    font-size: 1.2rem;
}
  
.frame-container-2 .frame .detail h2 {
    font-size: 2rem;
    color: var(--main-color);
    font-style: italic;
    margin: .5rem 0;
}
  
.frame-container-2 h1 {
    text-transform: capitalize;
}
.frame-container-2 img{
    width: 100%;
    height: 70vh;
}
.gurantee{
    padding: 4% 0;
}
.gurantee .box-container img{
    width: 100%;
    margin: .5rem;
}
.offer-1 {
    background-image: url('../image/offer.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    min-height: 100vh;
    padding: 5%;
}
  
.offer-1 .detail {
    max-width: 40vw;
}
.offer-1 .detail h1 {
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
  
.offer-1 .detail p {
    line-height: 1.5;
    font-size: 18px;
    color: #fff;
}
  
.offer-1 .container {
    color: #333;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

.offer-1 h1 {
    font-weight: bold;
    left: 125rem; /* This is a very large left value, likely needs adjustment */
    text-transform: uppercase;
}
  
.offer-1 li {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
}
  
.offer-1 span {
    display: block;
    font-size: 4.5rem;
}

.offer-1 .btn {
    background-color: var(--pink-color);
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.4);
}
.offer-2 {
    background-image: url('../image/pride.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    min-height: 110vh;
    padding-left: 5%;
    background-position: center;
}
.offer-2 .detail {
    max-width: 40vw;
    text-align: center;
}
.offer-2 .detail h1 {
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
  
.offer-2 .detail p {
    color: #fff;
    line-height: 1.5;
    font-size: 18px;
    color: #fff;
}


















/*---------------media---section-----------*/
@media (max-width: 991px) {
#menu-btn {
        display: inline-block;
}

.header .flex .navbar {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #e79d12;
        border-top: 1px solid #e9640c;
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.5s;
}

.header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .flex .navbar a {
        display: block;
        margin: 1.5rem 0;
        padding: 1rem;
        background-color: var(--main-color);
        text-align: center;
        border-radius: 0.5rem;
        color: #fff;
}

.header .flex .navbar a:hover {
        color: #000;
}
}

